<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>223962841012-eo6qj2ael2qq0gs0nhv09dspjhftq39r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223962841012-eo6qj2ael2qq0gs0nhv09dspjhftq39r</string>
	<key>API_KEY</key>
	<string>AIzaSyDLjdYcZHnR62e5Acdu6Tek22EvQk1vMkU</string>
	<key>GCM_SENDER_ID</key>
	<string>223962841012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lalli.travel4Life</string>
	<key>PROJECT_ID</key>
	<string>travel4life-35fbb</string>
	<key>STORAGE_BUCKET</key>
	<string>travel4life-35fbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223962841012:ios:b6639ebca7e2c819</string>
	<key>DATABASE_URL</key>
	<string>https://travel4life-35fbb.firebaseio.com</string>
</dict>
</plist>